  .login-block h2 {
    font-family: open sans;
    font-size: 25px;
    margin-top: 0;
    font-weight: 400;
    color: #44bda9;
}
#user{
  color: white;
  margin-left: 76%;
  font-size: 22px;
  cursor: pointer;
}
