   

  <!-- <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="main-container">
        <div class="inner cover">
          <span class="glyphicon glyphicon-link"></span>
          <h1>Viral Buck</h1>

          <div class="row">

            <div class="col-lg-13">
              <div class="input-group input-group-lg">
                <form>
                <input id="url-field" [(ngModel)]="url" type="text" class="form-control" placeholder="Paste a link...">
                <span class="input-group-btn">
                  <button class="btn btn-shorten" type="button" (click)="generateLink()">SHORTEN</button>
                </span>
              </form>
              </div>
            </div>
            <div class="row">
                          <div class="col-lg-12">
                            <div class="input-group input-group-lg">
                              <input id="url-field1" type="text" class="form-control" placeholder="Shortened URL">
                              <span class="input-group-btn">
                                <button id ="button1" class="btn btn-shorten" type="button" click="post()">Post</button>
                              </span>
                            </div>
                          </div>

            <div class="col-lg-12">
              <div id="link"></div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div> -->
  <div class="container-fluid" style="background-color:#003b49;height: 637px;">
      <div class="container">
  <img src="/assets/img/viral buck.png" width="250" height="70" />
</div>

<div class="login-block" style="font-family: open sans;margin-top: 8%;border-top:10px solid #44bda9;width: 45%;">
    <h2>Create a Task</h2>
    <input type="text" class="form-control" required [(ngModel)]="url" name="url" #name="ngModel" placeholder="URL">
    <input type="text" class="form-control" required [(ngModel)]="email" name="email" #name="ngModel" placeholder="Assigned To">
    <button style="background-color:#44bda9;border:0;font-size: 18px;font-family: open sans;line-height: 8px;" class="btn btn-lg btn-primary btn-block fs-margintop10" (click)="generateLink()" type="submit">Post</button>
</div>
</div>