
  <div class="container-fluid" style="background-color:#003b49;height: 637px;">
      <div class="container">
  <img src="/assets/img/viral buck.png" width="250" height="70" />
</div>

<div class="login-block" style="font-family: open sans;margin-top: 8%;border-top:10px solid #44bda9;width: 45%;">
    <h2>Create a Task</h2>
    <input type="text" class="form-control" required [(ngModel)]="url" name="url" #name="ngModel" placeholder="URL">
    <input type="text" class="form-control" required [(ngModel)]="assigned_to" name="email" #name="ngModel" placeholder="Assigned To">
    <button style="background-color:#44bda9;border:0;font-size: 18px;font-family: open sans;line-height: 8px;" class="btn btn-lg btn-primary btn-block fs-margintop10" (click)="generateLink()" type="submit">Post</button>
</div>
</div>