.login-block h2 {
    font-family: open sans;
    font-size: 25px;
    margin-top: 0;
    font-weight: 400;
    color: #44bda9;
}
.login-block h3 {
    font-family: open sans;
    font-size: 17px;
    margin-top: 0;
    font-weight: 400;
    color: #44bda9;
}