
a:hover{
    text-decoration: none;
    }
    .fs-padding-left0{
    padding-left: 0;
    }
    .fs-padding-right0{
    padding-right: 0;
    }
    .fs-ContentBar{
    width: 100%;
    background-color: #003b49;
    }
    .fs-Content {
    float: left;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    }
    .fs-wrap{
    float: left;
    min-height: 1px;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    width: 100%;
    }
    .fs-c-wrap{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(104, 117, 131, 0.1);
    display: table;
    height: auto;
    margin-bottom: 10px;
    width: 40%;
    margin-left: 29%;
    position: relative;
    top: -90px;
    }
    .fs-max-bar{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    }
    .w {
    display: table-cell;
    }
    .fs-i-card{
    border-radius: 9px;
    float: left; 
    margin:0px auto 40px;
    width: 100%;
    }
    .fs-i-card img{
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    /* fliks bar starts here */
    .fs-close-btn {
    color: #5a5a5a;
    float: right;
    font-size: 22px;
    line-height: 23px;
    padding-right: 20px;
    float: right;
    }
    .btn-primary {
    background-color: #003b49;
    border-color: #003b49;
    color: #fff;
    }
    .omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
    }
    .omb_login .omb_socialButtons a {
    color: white; 
    opacity:0.9;
    }
    .omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
    }
    .omb_login .btn-primary a:hover {
        color: white;
        opacity:1;      
        }
    .omb_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
    }
    .omb_login .omb_socialButtons .omb_btn-twitter {
    background: #00aced;
    }
    .omb_login .omb_socialButtons .omb_btn-google {
    background: #c32f10;
    }
    .omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    }
    .omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    .omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.5em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
    }     
    .omb_login .omb_loginForm .input-group.i {
    width: 2em;
    }
    .fs-margintop10{
    margin-top: 10px;
    }
    .hello{
    color: #687584;
    font-size: 24px;
    margin-bottom: 20px;
    }
    #form{
        width:170%;
        position: relative;
        right: 63px;
    }
    #col-nw{
        width: 100%;
        margin-left: 0;
    }
    #new{
        margin-left:8%;
        margin-top: 2%;
    }
    @media (min-width: 768px) {
  
    }
    @media (min-width: 768px) {
      .omb_login .omb_forgotPwd {
      text-align: right;
      margin-top:10px;
      }   
    }
    @media only screen and (min-width: 768px) and (max-width:980px) {
      .omb_login .omb_socialButtons a {
      font-size: 11px;
      padding: 10px 8px;
      }
    }


    @media screen and (width: 360px) {
        .fs-c-wrap[_ngcontent-c1] {
            width: 100%;
            margin-left: 0;
            top: 8px;
        }
        #form[_ngcontent-c1] {
            width: 100%;
        }
        .form-control {
            margin-left: 27.5%; 
            width: 94%;
        }
        .fs-margintop10[_ngcontent-c1] {
            margin-top: 31px;
            width: 94%;
            margin-left: 27.5%;
            height: 35px;
            line-height: 0;
        }
    }
    @media screen and (width: 640px) {
        
         .fs-c-wrap[_ngcontent-c1] {
            width: 65%;
            margin-left: 100px;
            margin-top: 22%;
        }
        #form[_ngcontent-c1] {
            width: 100%;
        }
        .form-control {
            margin-bottom: 7px;
            width: 85%;
            margin-left: 25.2%;
       }
       .fs-margintop10[_ngcontent-c1] {
        margin-top: 28px;
        width: 85%;
        margin-left: 85px;
        height: 35px;
        line-height: 0;
    }
    }
    @media screen and (width: 600px) {
        
        .fs-c-wrap[_ngcontent-c1] {
           width: 65%;
           margin-left: 90px;
           margin-top: 30%;
       }
       #form[_ngcontent-c1] {
           width: 100%;
       }
       .form-control {
           margin-bottom: 7px;
           width: 85%;
           margin-left: 25.2%;
      }
      .fs-margintop10[_ngcontent-c1] {
       margin-top: 28px;
       width: 85%;
       margin-left: 85px;
       height: 35px;
       line-height: 0;
   }
   }
   @media screen and (width: 320px) {
    .fs-c-wrap[_ngcontent-c1] {
        width: 100%;
        margin-left: 0;
        top: 15px;
    }
    #form[_ngcontent-c1] {
        width: 100%;
    }
    .form-control {
        margin-left: 31.5%; 
        width: 94%;
    }
    .fs-margintop10[_ngcontent-c1] {
        margin-top: 31px;
        width: 94%;
        margin-left: 31.5%;
        height: 35px;
        line-height: 0;
    }
}
@media screen and (width: 533px) {
    .fs-c-wrap[_ngcontent-c1] {
        width: 100%;
        margin-left: 0;
        top: 0px;
    }
    #form[_ngcontent-c1] {
        width: 100%;
    }
    .form-control {
        margin-left: 17.5%; 
        width: 94%;
    }
    .fs-margintop10[_ngcontent-c1] {
        margin-top: 31px;
        width: 94%;
        margin-left: 17.5%;
        height: 35px;
        line-height: 0;
    }
}
@media screen and (width: 480px) {
    .fs-c-wrap[_ngcontent-c1] {
        width: 100%;
        margin-left: 0;
        top: 8px;
    }
    #form[_ngcontent-c1] {
        width: 100%;
    }
    .form-control {
        margin-left: 19.5%; 
        width: 94%;
    }
    .fs-margintop10[_ngcontent-c1] {
        margin-top: 31px;
        width: 94%;
        margin-left: 19.5%;
        height: 35px;
        line-height: 0;
    }
    #new[_ngcontent-c1] {
        margin-left: 3%;
    }
}
@media screen and (width: 854px) {
   
    .fs-c-wrap[_ngcontent-c1] {
       width: 65%;
       margin-left: 90px;
       margin-top: 18%;
   }
   #form[_ngcontent-c1] {
       width: 100%;
   }
   .form-control {
       margin-bottom: 7px;
       width: 185%;
       margin-left: -10%;
  }
  .fs-margintop10[_ngcontent-c1] {
   margin-top: 28px;
   width: 185%;
   margin-left: -16px;
   height: 35px;
   line-height: 0;
}
#new[_ngcontent-c1] {
    margin-left: 5%;
}
}
@media screen and (width: 768px) {
  
    .fs-c-wrap[_ngcontent-c1] {
       width: 65%;
       margin-left: 115px;
       margin-top: 25%;
   }
   #form[_ngcontent-c1] {
       width: 100%;
   }
   .form-control {
       margin-bottom: 7px;
       width: 185%;
       margin-left: -10%;
  }
  .fs-margintop10[_ngcontent-c1] {
   margin-top: 28px;
   width: 185%;
   margin-left: -16px;
   height: 35px;
   line-height: 0;
}
#new[_ngcontent-c1] {
    margin-left: 5%;
}
}
@media screen and (width: 412px) {
    .fs-c-wrap[_ngcontent-c1] {
        width: 100%;
        margin-left: 0;
        top: 8px;
    }
    #form[_ngcontent-c1] {
        width: 100%;
    }
    .form-control {
        margin-left: 23.5%; 
        width: 94%;
    }
    .fs-margintop10[_ngcontent-c1] {
        margin-top: 31px;
        width: 94%;
        margin-left: 23.5%;
        height: 35px;
        line-height: 0;
    }
}
@media screen and (width: 375px) {
    .fs-c-wrap[_ngcontent-c1] {
        width: 100%;
        margin-left: 0;
        top: 8px;
    }
    #form[_ngcontent-c1] {
        width: 100%;
    }
    .form-control {
        margin-left: 25.5%; 
        width: 94%;
    }
    .fs-margintop10[_ngcontent-c1] {
        margin-top: 31px;
        width: 94%;
        margin-left: 25.5%;
        height: 35px;
        line-height: 0;
    }
}
@media screen and (width: 667px) {
    
    .fs-c-wrap[_ngcontent-c1] {
       width: 65%;
       margin-left: 100px;
       margin-top: 22%;
   }
   #form[_ngcontent-c1] {
       width: 100%;
   }
   .form-control {
       margin-bottom: 7px;
       width: 85%;
       margin-left: 25.2%;
  }
  .fs-margintop10[_ngcontent-c1] {
   margin-top: 28px;
   width: 85%;
   margin-left: 85px;
   height: 35px;
   line-height: 0;
}
#new[_ngcontent-c1] {
    margin-left: 0;
}
}
@media screen and (width: 414px) {
    .fs-c-wrap[_ngcontent-c1] {
        width: 100%;
        margin-left: 0;
        top: 8px;
    }
    #form[_ngcontent-c1] {
        width: 100%;
    }
    .form-control {
        margin-left: 23.5%; 
        width: 94%;
    }
    .fs-margintop10[_ngcontent-c1] {
        margin-top: 31px;
        width: 94%;
        margin-left: 23.5%;
        height: 35px;
        line-height: 0;
    }
} 
@media screen and (width: 736px) {
   
    .fs-c-wrap[_ngcontent-c1] {
       width: 65%;
       margin-left: 115px;
       margin-top: 25%;
   }
   #form[_ngcontent-c1] {
       width: 100%;
   }
   .form-control {
       margin-bottom: 7px;
       width: 185%;
       margin-left: -10%;
  }
  .fs-margintop10[_ngcontent-c1] {
   margin-top: 28px;
   width: 185%;
   margin-left: -16px;
   height: 35px;
   line-height: 0;
}
}