<div class="body">
    <div class="container-fluid" style="background-color:#003b49;height: 637px;">
        <div class="container">
    <img src="/assets/img/viral buck.png" width="250" height="70" />
</div>

<div class="login-block" style="font-family: open sans;margin-top: 2%;border-top:10px solid #44bda9;">
    <h2>Sign Up To Viral Buck</h2>
    <h3>Create Account</h3>
    <input type="text" value="" [(ngModel)]="email" placeholder="Email" id="username" />
    <input type="text" value="" [(ngModel)]="phone" placeholder="Phone" id="username" />
    <input type="password" value="" [(ngModel)]="password" placeholder="Password" id="password" />
    <input type="password" value="" [(ngModel)]="confirmpassword" placeholder="Confirm Password" id="password" />
    <input type="text" value="" [(ngModel)]="referral" placeholder="Referral" id="username" />
    <button type="submit" (click)="signUp()" style="background-color:#44bda9;border:0;">Submit</button>
</div>
</div>
</div>

